body{
    background-color: salmon;
}

h1{
    text-align: center;
    color: red;
}

img{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px blanchedalmond;


}

#cat{
    text-align: center;
}